# Yarn, npm and pnpm
yarn-error.log
npm-debug.log
.pnpm-debug.log*
node_modules
*.env

# WebStorm files
.idea
.vscode

# Vim swap files
*.swp
*.swo

# Sublime files
*.sublime-workspace
*.sublime-project

# Mac and windows files
.DS_Store
.tmp

# local env files
chrome.env
firefox.env
edge.env
opera.env

# Distribution
web-ext-artifacts
dist/build
