html[data-theme="light"] {
  --color-text: rgb(27 27 27);
  --color-text-disabled: rgb(188 192 200);
  --color-bg: rgb(255 255 255);
  --action-bg-color: rgb(112 97 237);
  --card-bg: rgb(255 255 255);
  --card-border: rgb(188 192 200 / 50%);
  --theme-switcher-bg: rgb(245 246 252);
  --theme-switcher-button-bg: var(--action-bg-color);
  --theme-switcher-button-color-active: rgb(255 255 255);
  --theme-switcher-button-color-inactive: rgb(121 129 145);
  --button-shortcut-color: rgb(27 27 27);
  --button-shortcut-bg: rgb(255 255 255);
  --button-shortcut-border: rgb(188 192 200 / 50%);
  --button-shortcut-shadow: 0px 4px 4px 0px rgb(0 0 0 / 9%);
  --button-shortcut-active-color: rgb(255 255 255);
  --button-shortcut-active-bg: var(--action-bg-color);
  --button-shortcut-active-border-color: var(--button-shortcut-active-bg);
  --button-shortcut-error-color: rgb(255 255 255);
  --button-shortcut-error-bg: rgb(255 77 79);
  --button-shortcut-error-border-color: var(--button-shortcut-error-bg);
  --button-reset-color: rgb(27 27 27);
  --button-reset-bg: rgb(255 255 255);
  --button-reset-border-color: rgb(188 192 200 / 50%);
  --button-cancel-color: rgb(255 255 255);
  --button-cancel-bg: rgb(27 27 27);
  --button-cancel-border-color: var(--button-cancel-bg);
  --button-disabled-color: rgb(188 192 200);
  --button-disabled-icon-color: rgb(188 192 200);
  --button-disabled-bg: rgb(245 246 252);
  --button-disabled-border-color: rgb(188 192 200 / 50%);
  --switch-thumb-bg: var(--action-bg-color);
  --switch-thumb-shadow: 0px 4px 4px 0px rgb(112 97 237 / 25%);
  --switch-track-bg: rgb(245 246 252);
  --switch-track-bg-shadow: 0px 4px 12px 0px rgb(0 0 0 / 4%) inset;
  --switch-disabled-thumb-bg: rgb(188 192 200);
  --switch-disabled-thumb-shadow: 0px 4px 4px 0px rgb(188 192 200 / 25%);
  --switch-disabled-track-bg: rgb(245 246 252);
  --switch-disabled-track-bg-shadow: 0px 4px 12px 0px rgb(0 0 0 / 4%) inset;
  --textbox-color: rgb(27 27 27);
  --textbox-bg: rgb(255 255 255);
  --textbox-border: rgb(188 192 200 / 50%);
  --textbox-suffix-color: var(--action-bg-color);
  --textbox-color-disabled: var(--button-disabled-color);
  --textbox-bg-disabled: var(--button-disabled-bg);
  --checkbox-bg: var(--action-bg-color);
  --checkbox-bg-disabled: rgb(188 192 200);
  --button-shortcut-error-disabled-filter: none;
}

html[data-theme="dark"] {
  --color-text: rgb(255 255 255);
  --color-text-disabled: rgb(188 192 200);
  --color-bg: rgb(27 27 27);
  --action-bg-color: rgb(112 97 237);
  --card-bg: rgb(36 36 36);
  --card-border: rgb(36 36 36);
  --theme-switcher-bg: var(--card-bg);
  --theme-switcher-button-bg: var(--action-bg-color);
  --theme-switcher-button-color-active: rgb(27 27 27);
  --theme-switcher-button-color-inactive: rgb(121 129 145);
  --button-shortcut-color: rgb(255 255 255);
  --button-shortcut-bg: rgb(27 27 27);
  --button-shortcut-border: rgb(53 55 58);
  --button-shortcut-shadow: 0px 4px 4px 0px rgb(0 0 0 / 9%);
  --button-shortcut-active-color: rgb(255 255 255);
  --button-shortcut-active-bg: var(--action-bg-color);
  --button-shortcut-active-border-color: var(--button-shortcut-active-bg);
  --button-shortcut-error-color: rgb(255 255 255);
  --button-shortcut-error-bg: rgb(255 77 79);
  --button-shortcut-error-border-color: currentColor;
  --button-reset-color: rgb(255 255 255);
  --button-reset-bg: rgb(27 27 27);
  --button-reset-border-color: rgb(53 55 58);
  --button-cancel-color: var(--button-reset-color);
  --button-cancel-bg: var(--button-reset-bg);
  --button-cancel-border-color: var(--button-reset-border-color);
  --button-disabled-color: rgb(188 192 200 / 50%);
  --button-disabled-icon-color: rgb(255 255 255 / 50%);
  --button-disabled-bg: rgb(27 27 27 / 50%);
  --button-disabled-border-color: rgb(188 192 200 / 50%);
  --switch-thumb-bg: var(--action-bg-color);
  --switch-thumb-shadow: rgb(112 97 237);
  --switch-track-bg: rgb(27 27 27);
  --switch-track-bg-shadow: 0px 4px 12px 0px rgb(0 0 0 / 4%) inset;
  --switch-disabled-thumb-bg: rgb(53 55 58);
  --switch-disabled-thumb-shadow: 0px 4px 12px 0px rgb(0 0 0 / 4%) inset;
  --switch-disabled-track-bg: rgb(27 27 27);
  --switch-disabled-track-bg-shadow: 0px 4px 12px 0px rgb(0 0 0 / 4%) inset;
  --textbox-color: rgb(255 255 255);
  --textbox-bg: rgb(27 27 27);
  --textbox-border: rgb(53 55 58);
  --textbox-suffix-color: var(--action-bg-color);
  --textbox-color-disabled: var(--button-disabled-color);
  --textbox-bg-disabled: var(--button-disabled-bg);
  --checkbox-bg: var(--action-bg-color);
  --checkbox-bg-disabled: rgb(112 114 118);
  --button-shortcut-error-disabled-filter: brightness(0.8);
}

body {
  width: 752px;
  margin: 0;
  padding: 16px 24px 6px;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  user-select: none;
  transition:
    color 0.02s ease-in-out,
    background-color 0.4s ease-in-out;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

html * {
  transition:
    color 0.02s ease-in-out,
    background-color 0.4s ease-in-out;
}

.quick-transition {
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

button {
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid var(--color-text);
  }
}

@media (prefers-reduced-motion: reduce) {
  html,
  html *,
  .quick-transition {
    transition: none;
  }
}
