#ytr-percentage {
  align-self: center;
  padding-right: var(--yt-button-icon-padding, 8px);
  font-size: var(--ytd-tab-system-font-size);
  font-weight: var(--ytd-tab-system-font-weight);
  letter-spacing: var(--ytd-tab-system-letter-spacing);

  .hidden {
    display: none;
  }
}

html[dark="true"] #ytr-percentage {
  color: var(--yt-spec-text-primary, white);
}

//noinspection CssInvalidHtmlTagReference
ytd-segmented-like-dislike-button-renderer yt-smartimation:has(#ytr-percentage) {
  display: flex;
}

// Modify the width of the channel-subscribe section
// so the action buttons (Like, Dislike, etc) don't suddenly collapse into the [⋯] button
#owner.ytd-watch-metadata {
  min-width: unset;
}
