/* noinspection CssInvalidHtmlTagReference */
ytr-percentage {
  align-self: center;
  /*noinspection CssUnresolvedCustomProperty*/
  padding-right: var(--yt-button-icon-padding, 8px);
  position: relative;
  bottom: 2px;
  /*noinspection CssUnresolvedCustomProperty*/
  font-size: var(--ytd-tab-system-font-size);
  /*noinspection CssUnresolvedCustomProperty*/
  font-weight: var(--ytd-tab-system-font-weight);
  /*noinspection CssUnresolvedCustomProperty*/
  letter-spacing: var(--ytd-tab-system-letter-spacing);
}

html[dark="true"] {
  /* noinspection CssInvalidHtmlTagReference */
  & ytr-percentage {
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--yt-spec-text-primary, white);
  }
}

/* noinspection CssInvalidHtmlTagReference */
[class*="YtSegmentedLikeDislikeButton"] yt-smartimation,
ytd-segmented-like-dislike-button-renderer yt-smartimation {
  display: flex;
}
