.ytr-percentage {
  align-self: center;
  padding-right: var(--yt-button-icon-padding, 8px);
  position: relative;
  bottom: 2px;
  font-size: var(--ytd-tab-system-font-size);
  font-weight: var(--ytd-tab-system-font-weight);
  letter-spacing: var(--ytd-tab-system-letter-spacing);
}

//noinspection CssInvalidHtmlTagReference
[class*=YtSegmentedLikeDislikeButton] yt-smartimation, ytd-segmented-like-dislike-button-renderer yt-smartimation {
  display: flex;
}

html[dark="true"] .ytr-percentage {
  color: var(--yt-spec-text-primary, white);
}

// Un-setting the min-width of the element next to the action buttons
// so that the [ⵈ] button doesn't disappear when the percentage is injected
#top-row #owner {
  min-width: max-content;
}
